html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FBFBF2;
}

a {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.bg-dark {
  background-color: #151515 !important;
}

.bg-light {
  background-color: #FBFBF2 !important;
}

.bg-gradient {
  background: #53AD8B !important;
  background: linear-gradient(90deg, #53ad8b 0%, #718f8e 35%, #8e7190 65%, #ac5393 100%) !important;
}

.bg-gradient-middle {
  background: #718F8E !important;
  background: linear-gradient(90deg, #718f8e 0%, #8e7190 100%) !important;
}

.bg-gradient-left {
  background: #8E7190 !important;
  background: linear-gradient(90deg, #53ad8b 0%, #718f8e 100%) !important;
}

.bg-gradient-right {
  background: #AC5393 !important;
  background: linear-gradient(90deg, #8e7190 0%, #ac5393 100%) !important;
}

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  line-height: 1.5;
  color: #151515;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.bold {
  font-weight: 800;
}

.semi-bold {
  font-weight: 500;
}

.title {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 800;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 500;
}

.gradient-frame {
  padding: 3px;
  text-align: center;
  background: linear-gradient(to right, #53AD8B, #AC5393);
}

.gradient-frame .subtitle {
  padding: 0 15px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #151515;
  background-color: #FBFBF2;
}

.underline {
  text-decoration: underline;
}

@media only screen and (min-width: 540px) {
  html {
    font-size: 18px;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.7rem;
  }
}
@media only screen and (min-width: 800px) {
  .gradient-frame .subtitle {
    height: 50px;
  }
}
.text-light {
  color: #FBFBF2;
}

.text-gradient-1 {
  color: #53AD8B;
}

.text-gradient-2 {
  color: #718F8E;
}

.text-gradient-3 {
  color: #8E7190;
}

.small-container,
.container {
  padding: 0 20px;
}

.container-svg {
  width: 100%;
}

.container-svg img {
  height: 150px;
  width: 100%;
}

@media only screen and (min-width: 540px) {
  .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .d-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }
}
@media only screen and (min-width: 960px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }

  .small-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
  }
}
@media only screen and (min-width: 1200px) {
  .d-flex-lg {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.mt-5 {
  margin-top: 35px !important;
}

.mb-5 {
  margin-bottom: 35px !important;
}

.ml-5 {
  margin-left: 35px !important;
}

.mr-5 {
  margin-right: 35px !important;
}

.mt-4 {
  margin-top: 25px !important;
}

.mb-4 {
  margin-bottom: 25px !important;
}

.ml-4 {
  margin-left: 25px !important;
}

.mr-4 {
  margin-right: 25px !important;
}

.mt-3 {
  margin-top: 15px !important;
}

.mb-3 {
  margin-bottom: 15px !important;
}

.ml-3 {
  margin-left: 15px !important;
}

.mr-3 {
  margin-right: 15px !important;
}

.mt-2 {
  margin-top: 10px !important;
}

.mb-2 {
  margin-bottom: 10px !important;
}

.ml-2 {
  margin-left: 10px !important;
}

.mr-2 {
  margin-right: 10px !important;
}

.pt-5 {
  padding-top: 35px !important;
}

.pb-5 {
  padding-bottom: 35px !important;
}

.pl-5 {
  padding-left: 35px !important;
}

.pr-5 {
  padding-right: 35px !important;
}

.pt-4 {
  padding-top: 25px !important;
}

.pb-4 {
  padding-bottom: 25px !important;
}

.pl-4 {
  padding-left: 25px !important;
}

.pr-4 {
  padding-right: 25px !important;
}

.pt-3 {
  padding-top: 15px !important;
}

.pb-3 {
  padding-bottom: 15px !important;
}

.pl-3 {
  padding-left: 15px !important;
}

.pr-3 {
  padding-right: 15px !important;
}

.pt-2 {
  padding-top: 10px !important;
}

.pb-2 {
  padding-bottom: 10px !important;
}

.pl-2 {
  padding-left: 10px !important;
}

.pr-2 {
  padding-right: 10px !important;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  font-weight: 500;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #53AD8B;
  border: solid 2px #53AD8B;
}

.btn-light {
  background: #FBFBF2;
  border: solid 2px #FBFBF2;
}

.btn-light span {
  background: linear-gradient(0.25turn, #53AD8B, #718F8E, #8E7190, #AC5393);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-primary:hover {
  background-color: #FBFBF2;
  color: #53AD8B;
}

@media only screen and (min-width: 540px) {
  .btn {
    width: auto;
    padding: 8px 15px;
  }
}
.card {
  margin: 30px auto;
  padding: 10px;
  height: 240px;
  width: 240px;
  text-align: center;
  background: linear-gradient(to right, #53AD8B, #AC5393);
}

.card .text {
  padding: 0 15px;
  height: 220px;
  width: 220px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #151515;
  background-color: #FBFBF2;
}

@media only screen and (min-width: 540px) {
  .card {
    height: 300px;
    width: 300px;
  }

  .card .text {
    height: 280px;
    width: 280px;
  }
}
header {
  margin-bottom: 100px;
  margin-top: 220px;
}

footer img {
  height: 180px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  text-align: center;
  background-color: #FBFBF2;
  z-index: 1;
  transition: 0.3s;
}

nav .btn {
  display: none;
}

nav .img {
  height: 80px;
  transition: 0.4s;
}

nav .img_2 {
  display: none;
}

nav .container {
  padding: 0;
}

@media only screen and (min-width: 540px) {
  nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav .img {
    height: 135px;
  }
}
.informations-1 div {
  margin: 40px 0;
}

.informations-1 .number {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.informations-1 .number-1 {
  background-color: #53AD8B;
  transform: rotate(10deg);
}

.informations-1 .number-2 {
  background-color: #718F8E;
  transform: rotate(-15deg);
}

.informations-1 .number-3 {
  background-color: #8E7190;
  transform: rotate(25deg);
}

.informations-2 {
  padding: 100px 0;
}

.informations-2 .container {
  padding: 40px 20px;
  position: relative;
}

.informations-2 .gradient-frame {
  position: absolute;
  top: -65px;
  left: 20px;
  right: 20px;
}

.informations-3 .gradient-frame {
  max-width: 600px;
  margin: 0 auto;
}

.informations-3 .what-part {
  margin: 40px 0;
  text-align: center;
}

.informations-3 .what-part p {
  margin: 20px 0;
}

.informations-3 .what-part p:nth-child(1) {
  color: #53AD8B;
}

.informations-3 .what-part p:nth-child(3) {
  color: #8E7190;
  position: relative;
}

.informations-3 .what-part p:nth-child(5) {
  color: #AC5393;
  position: relative;
}

.informations-3 .what-part p:nth-child(3):after {
  content: "En cours";
  color: #FBFBF2;
  background-color: #8E7190;
  display: block;
  margin: 15px auto 0 auto;
  width: 90px;
}

.informations-3 .what-part p:nth-child(5):after {
  content: "En cours";
  color: #FBFBF2;
  background-color: #AC5393;
  display: block;
  margin: 15px auto 0 auto;
  width: 90px;
}

.contain-arrows {
  display: none;
}

.informations-4 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.informations-4 img {
  width: 200px;
}

.informations-4 .card:nth-child(1) {
  transform: rotate(20deg);
}

.informations-4 .card:nth-child(1) .text p {
  transform: rotate(-20deg);
}

.informations-4 .card:nth-child(2) {
  transform: rotate(-20deg);
}

.informations-4 .card:nth-child(2) .text p {
  transform: rotate(20deg);
}

.informations-4 .card:nth-child(3) {
  transform: rotate(40deg);
}

.informations-4 .card:nth-child(3) .text p {
  transform: rotate(-40deg);
}

.informations-5 {
  margin-top: 130px;
  padding: 60px 0;
  position: relative;
}

.informations-5 .gradient-frame {
  position: absolute;
  left: 20px;
  right: 20px;
  top: -45px;
}

.informations-5 .big {
  font-size: 3em;
  font-weight: bold;
}

@media only screen and (min-width: 540px) {
  .informations-2 .container {
    padding: 40px 100px;
  }

  .informations-3 .what-part {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .informations-3 .what-part p {
    padding: 0 15px;
  }

  .informations-3 .what-part p:nth-child(1) {
    border-right: 4px solid #53AD8B;
  }

  .informations-3 .what-part p:nth-child(3) {
    border-right: 4px solid #AC5393;
  }

  .informations-3 .what-part p:nth-child(3):after {
    right: 20px;
    bottom: -50px;
    position: absolute;
    display: inline-block;
  }

  .informations-3 .what-part p:nth-child(5):after {
    right: 20px;
    bottom: -50px;
    position: absolute;
    display: inline-block;
  }

  .contain-arrows {
    display: block;
  }

  .arrows {
    width: 80%;
  }

  .informations-3 .what-part img {
    display: none;
  }

  .informations-5 .gradient-frame {
    max-width: 800px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 800px) {
  .informations-2 .gradient-frame {
    left: auto;
    right: auto;
    top: -30px;
  }

  .informations-5 .gradient-frame {
    top: -30px;
  }
}

/*# sourceMappingURL=style.css.map */
