.card {
  margin: 25px 0;
  padding: 21px;
  height: auto;

  border: solid 2px $color-white;

  background-color: $color-dark;
}

.card.tall {
  max-height: 650px;
}

.card.little {
  max-height: 350px;
}
.card.medium {
  max-height: 450px;
}

// nested-card
.nested-card {
  margin: 30px 0;

  border: 1px solid $color-primary;
}

.nested-card .card-header {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 35px;

  color: $color-dark;

  background-color: $color-primary;
}

.nested-card .card-body {
  padding: 25px;
}

@media only screen and (min-width: 960px) {
  .card {
    margin: 41px 0;
  }

  .card.sticky {
    top: 107px;
    position: sticky;
    height: 80vh;
  }

  .card.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card.flex .table {
    height: 100%;
  }
}





