.card {
  margin: 30px auto;
  padding: 10px;
  height: 240px;
  width: 240px;
  text-align: center;
  background: linear-gradient(to right, $color-gradient-1, $color-gradient-4);
}

.card .text {
  padding: 0 15px;
  height: 220px;
  width: 220px;
  display: flex;
  flex-direction: row;
  align-items: center;

  color: $color-dark;

  background-color: $color-light;
}

@media only screen and (min-width: 540px) {
  .card {
    height: 300px;
    width: 300px;
  }

  .card .text {
    height: 280px;
    width: 280px;
  }
}

